#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


p:hover {
  filter: drop-shadow(0 0 0em #fd0061);
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 940px;
}
.App > div {
  position: relative;
  border:  3mm ridge #fd0061 ;
  padding: 20px;
  text-align: left;
  box-shadow: 3px 3px 3px black;
  background-color: white;
}

li {
  font-size: 14px;
}

p {
  font-weight: 600;
}







